<div id="footer">
  <p>
    Classic but updated men's wear pieces that often provide a foundation for
    the men's wardrobe, creatinga comfortable, but stylish look.Go experimenting
    with fashion today by using these styles to express yourself
  </p>
</div>
